html{
	background-image:url(http://static7.depositphotos.com/1001559/685/v/950/depositphotos_6859192-Hexagons-texture.-Seamless-geometric-pattern..jpg);
	color:ffccdd;
	background-color:lightyellow;
}
h1{
	font-family:Comic Sans MS;
	color:#ffccdd;
	font-size:52px;
	background-color:lemonchiffon;
	border-style:dashed;
	border-color:black;
}
h2{
	font-family:Comic Sans MS;
	color:BlanchedAlmond;
	font-size:32px;
	background-color:Lightyellow;
	border-style:Groove;
	border-color:red;
}
main{
	font-family:Comic Sans MS;
	color:#ccff00;
	font-size:21px;
	background-color:Mistyrose;
	border-style:Groove;
	border-color:red;
}

p{
	color:#303030;
}
h6{
	border-style:solid;
	background-color:lightyellow;
	border-color:green;
}
h5{
	border-style:solid;
	border-color:blue;
}
body{
	background-color:lightyellow;
/* Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server. */
