html{
	
}
h1{
	background-color:#669900;
	font-family: impact, charcoal , Sans-serif;
	font-style:italic;
	color:yellow;
}
h2{
	background-color:yellow;	
	font-size:20px;	
	color:#cc0066;
}
h3{
	background-color:blue;
	font-family:arial;
	font-size:30px;	
	color:yellow;
}
h4{
	background-color:#ff3300;
	font-family:arial;
	color:blue;
	
}
h5{
	
}
main{
	border-style:dashed;
	border-color:red;
	border:
	color:#cc0099;
}
nav{
	background-color:yellow;	
	font-size:20px;	
	color:#cc0066;
}
p{
	
}

body{
	
}
footer{
	border-style:groove;
}
/* Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server. */
