@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
html{
	background-image:url(images/backback.jpg);
	border-width:1px;
}
header{
	border-style:solid;
	border-width:1px;
	padding-left:10px;
	font-family: 'Poiret One', cursive;
	color:white;
	background-image:url(images/Universe.jpg)
}
main{
	margin-left:110px;
	border-style:solid;
	border-width:1px;
	background-image:url(images/Backrepeat.png);
}
main article{
	color:white;
}
main p{
	color:white;
}
main > img{
	padding: 1cm 1cm 1cm 2cm;
}
main > h1{
	border-style:solid;
	margin:0px 0px 0px 0px;
	border-width:1px;
	background-image:url(images/pattern-1.png);
	font-family:'Amatic SC', cursive;
	color:orange;
}
main > p{
	padding:0cm 0cm 0cm 1cm;
}
main > h2{
	padding:0cm 0cm 0cm 1cm;
}
main article{
	padding:0cm 0cm 0cm 1cm;
}
nav{
	float:left;
	border-style:solid;
	border-width:1px;
	margin-right:10px;
	width:109px;
	font-family: 'Roboto', sans-serif;
}
article{
	clear:left;
	border-style:solid;
}
h3{
	padding-left:1cm;
	margin-bottom:0.3cm;	
	color:#ff7d7d;
}
br{
	clear:right;
}
nav:hover{
	background-color:#ff7d7d;
}
nav li{
	color:hotpink;
}
a:hover {
	color: hotpink;
}
a:visited {
	color: hotpink;
	text-decoration: none;
}
a:link {
	color: #ffb87d;
	text-decoration: none;
}
li a{
	display:block;
}
